sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t thamakarthik/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true thamakarthik/react-test npm test

after_success:
  - docker build -t thamakarthik/multi-client ./client
  - docker build -t thamakarthik/multi-nginx ./nginx
  - docker build -t thamakarthik/multi-server ./server
  - docker build -t thamakarthik/multi-worker ./worker
  # Log in to the docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Take those images and push them to docker hub
  - docker push thamakarthik/multi-client
  - docker push thamakarthik/multi-nginx
  - docker push thamakarthik/multi-server
  - docker push thamakarthik/multi-worker
  

  deploy:
  provider: elasticbeanstalk
  region: 'ap-south-1'
  app: 'multi-docker'
  env: 'Multidocker-env'
  bucket_name: 'elasticbeanstalk-us-east-1-472908358266'
  bucket_path: 'docker-multi'
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY